.weekend {
    background: linear-gradient(140deg, #23d160,#6fffa1);
}
.weekend:hover {
    background: linear-gradient(140deg, #0db949,#11c951);
}

.currentDay{
    background: linear-gradient(140deg, #ffe270, #ffac1e);
}

.currentDay:hover{
    background: linear-gradient(140deg, #ffdd56, #ffa50a);
}

.day:hover:not(.fillerDay){
    background: linear-gradient(140deg, rgb(243, 243, 243), rgb(235, 235, 235));
    cursor: pointer;
}

.weekNum {
    background: linear-gradient(140deg, #a3c6ff, #3273dc);
}
.weekNum:hover {
    background: linear-gradient(140deg, #93bcff, #246adb);
}

