.monthWrap {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.monthSelector {
    display: flex;
    justify-content: space-around;
}
.monthSelector > * {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.monthSelector > p {
    font-size: 3rem;
}

.monthSelector > a {
    font-size: 1.5rem;
}

.monthSelector > a:first-child{
    justify-content: flex-end;
}
.monthSelector > a:last-child {
    justify-content: flex-start;
}

.month{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex: 1;
}

.daysLevel {
    display: flex;
    font-weight: 600;
}
.daysLevel > div {
    flex: 1 0 0;
    text-align: center;
}

.month > .week{
    display: flex;
    flex: 1;

}
.fillerDay {
    background: linear-gradient(140deg, #fbfbfb,whitesmoke) !important;
    opacity: 0.5;
}

.week > *{
    flex: 1 1 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid beige;
}

.week > *:not(.fillerDay) {
    cursor: pointer;
}







