#root, #root > div {
    display: flex;
    flex-direction: column;
    height: 100%;
}

nav {
    border-top: 3px solid blue;
    border-bottom: 1px solid gainsboro;
}

.calender  {
    display: flex;
    flex-direction: column;
    flex: 1;
}

